@media screen and (min-width: 1025px) and (max-width: 1280px){
    .product_slider .item{
        height:auto !important;
    }
    .banner1, .banner2, .banner3 {
        min-height: 520px;
    }
    .banner-info {
        margin: 15em auto 0;
        padding: 15px;
        width: 76%;
    }
    .banner-info > h2 {
        color: #fff;
        font-size: 30px;
        line-height: 38px;
    }
    .hvr-bubble-float-top {
        width: auto;
    }
    .header-top {
        padding: 20px 0;
    }
    .nav-wil li a {
        font-size: 11px;
    }
    .link-wrap {
        float: left;
        width: 70%;
    }
    .navbar-nav {
        margin: 17.5px 0 0;
    }
    .browse-cars-wrap h5.heading {
        font-size: 13px;
        margin-top: 0;
        padding: 0;
    }
    .browse-cars-wrap h2.browse-heading {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 30px;
        margin-left: 0;
        padding: 0;
    }
    .browse-cars-wrap {
        background: rgba(0, 0, 0, 0) url("../images/white_quote.png") no-repeat scroll 1px 0 / 44px 29px;
        font-size: 13.5px;
        line-height: 23px;
        padding-left: 50px;
        padding-top: 4px;
    }
    .quote {
        font-size: 13.5px;
        line-height: 23px;
        padding-left: 50px;
        padding-top: 4px;
        padding-bottom: 25px
    }
    .AUDI-8 {
        padding-left: 10px;
        padding-right: 0;
    }
    .AUDI-8 .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .AUDI-8 .col-lg-12 .col-lg-6 {
        float: left;
        padding: 0 10px 0 0;
        width: 50%;
    }
    .browse-cars-wrap .car-count-wrap {
        background: rgba(0, 0, 0, 0) url("../images/car_name_bg.png") no-repeat scroll 0 0 / 100% 38px;
        margin-bottom: 15px;
    }
    .browse-cars-wrap .car-count-wrap .text-left {
        font-size: 15px;
        padding-left: 15px;
        width: 80%;
    }
    .browse-cars-wrap .car-count-wrap .text-right {
        font-size: 15px;
    }
    .social-icon-wrap {
        float: right;
        margin-top: 17px;
        width: auto;
    }
    a.callbacks_nav.callbacks1_nav.prev, a.callbacks_nav.callbacks1_nav.prev:hover {
        left: 15px;
    }
    .callbacks_nav.next, .callbacks_nav.next:hover {
        right: 15px;
    }
    .CORE-1, .CORE-2, .CORE-3 {
        float: left;
        padding: 0 10px;
    }
    .about-us-wrap .about-heading {
        font-size: 19px;
        line-height: 28px;
    }
    .about-us-wrap p.heading {
        font-size: 13px;
    }
    .about-us-wrap .quote {
        background: rgba(0, 0, 0, 0) url("../images/gray_quote.png") no-repeat scroll left top / 44px 29px;
        font-size: 13px;
        line-height: 20px;
        padding-left: 55px;
        padding-top: 10px;
    }
    .about-us-wrap {
        float: left;
        padding: 60px 0;
        width: 100%;
    }
    .about-us-wrap .schedule-wrap {
        margin: 2px 0 22px;
    }
    .about-us-wrap .schedule-link {
        float: left;
        font-size: 13px;
        margin-left: 0;
        padding: 10px 0;
        width: 100%;
    }
    .about-us-wrap .call-us-text {
        float: left;
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
        width: 100%;
    }
    .about-us-wrap .call-us-text p.num {
        font-size: 30px;
    }
    .about-us-wrap .read-more {
        font-size: 16px;
        margin-left: 55px;
        padding: 8px 26px;
    }
    .post-detail-wrap .heading-small {
        font-size: 14px;
    }
    .post-detail-wrap h4.heading-big {
        font-size: 17px;
    }
    .post-detail-wrap .post-details {
        font-size: 13px;
        line-height: 22px;
    }
    .contentcall{
        width: 50%;
        margin-top: 23%;
    }
    .INVENTORY-title {
        font-size: 24px;
        padding: 15px 0;
        text-align: center;
    }
    .trucks-title {
        font-size: 16px;
    }
    .filter-title {
        font-size: 22px;
        padding: 15px 0;
    }
    .customserch .btn {
        background-position: 94% 52%;
        background-size: 16px auto;
        font-size: 13px;
        padding: 6px 10px;
    }
    .car-content {
        padding: 20px 10px 25px;
    }
    .p_car_title {
        font-size: 19px;
        line-height: 33px;
    }
    .car_product {
        margin: 30px auto;
        width: 100%;
    }
    /*    .paginationnav {
            text-align: center;
        }
        .paginationnav .pagination {
            margin: 10px 0px 10px 0;
        }*/
    .paginationnav .pagination li a {
        font-size: 18px;
        height: 35px;
        padding: 2px;
        width: 35px;
    }
    .carintprice {
        font-size: 18px;
    }
    .Next, .Last {
        width: 70px !important;
    }
    .help-text{
        padding-left: 0px;
    }
    .contact-info{
        padding-left: 0px;
        font-size: 24px;
    }
    .contact-info-wrap h5{
        font-size: 14px;
    }
    .contact-info-wrap img{
        margin-left: 5px;
    }
    .padding-left {
        font-size: 13px;
        line-height: 21px;
        padding-left: 34px;
        margin-top: 10px;
    }
    .Carthree .padding-left {
        padding-left: 15px;
    }
    .Carfour .padding-left {
        padding-left: 35px;
    }
    .help-text{
        font-size: 15px;
    }
    .section.section-one{
        padding-left: 15px;
        width: 30%;
    }
    .section.section-two {
        padding-left: 15px;
        width: 30%;
    }
    .section.section-three {
        padding-left: 15px;
        width: 38%;
        padding-right: 10px;
    }
    .browse-cars-wrap {
        background: url("../images/car_bg.png") no-repeat scroll 0 300px / 440px 310px, rgba(0, 0, 0, 0) url("../images/gray_bg.png") no-repeat scroll left top / 100% 100%;
        float: left;
        height: 610px;
        padding: 50px 0;
        width: 100%;
    }
    .our-usp-choose-wrap .about-heading {
        float: right;
        margin-bottom: 30px;
        width: 100%;
    }
    .our-usp-choose-wrap .OUR_USPs img {
        float: right !important;
    }
    .right-info {
        padding: 3px 0 0 5px;
        text-align: left;
    }
    .usp-detail .right-info h4 {
        font-size: 15px;
    }
    .usp-detail .right-info p {
        font-size: 13px;
        height: 75px;
        max-height: 75px;
    }
    .usp-wrap .usp-detail {
        padding: 15px 10px 26px;
    }
    .usp-wrap{
        clear: both;
    }
    .our-usp-choose-wrap .img_div, .OUR_USPs {
        float: left;
        text-align: center;
        width: 33.333%;
    }
    .our-usp-choose-wrap {
        padding: 50px 0;
    }
    .OUR_USPs {
        float: left;
        padding: 0 15px;
        text-align: right;
    }
    .testimonial-wrap .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 96%;
    }
    .testimonial-wrap .col-lg-4 {
        float: left;
        width: 40%;
    }
    .testimonial-wrap .col-lg-8 {
        float: left;
        width: 60%;
    }
    .testimonial-wrap {
        height: auto;
        padding: 50px 0;
    }
    .testimonial-wrap h5.heading {
        font-size: 13px;
    }
    .testimonial-wrap h2.browse-heading {
        font-size: 22px;
        line-height: 36px;
    }
    .testimonial-wrap .quote {
        font-size: 14px;
        line-height: 23.2px;
        padding-left: 54px;
        padding-top: 5px;
    }
    .carousel-inner .quote {
        overflow: scroll;
    }
    .carousel-inner {
        height: 345px;
    }
    .item {
        height: 100%;
        width: 100%;
    }
    .carousel-inner .item .slide {
        height: 100%;
        width: 100%;
    }
    .homebox-left,  .homebox-right {
        padding: 20px;
        width: 48%;
    }
    .home-box-wrap h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .home-box-wrap h4 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .home-box-wrap p {
        font-size: 17px;
        height: 160px;
        line-height: 23px;
        margin-left: 0;
        min-height: 160px;
        width: 100%;
    }
    .home-box-wrap .schedule-link {
        font-size: 16px;
        margin-left: 0;
        padding: 10px 20px;
    }
    .footer-link-wrapper {
        padding: 50px 0;
    }
    .footer-link-wrapper h5 {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .section.section-one a {
        font-size: 14px;
    }
    .section.section-two p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .section-three .l-padding {
        padding-left: 0;
    }
    .section-three p.title {
        font-size: 13px;
    }
    .section-three p.price {
        font-size: 16px;
    }
    .section-three p.view a {
        font-size: 12px;
    }
    .copy_right {
        padding: 20px 30px;
    }
    .copy_right p a {
        font-size: 13px;
    }
    .product_slider {
        float: left;
        margin-bottom: 31px;
        width: 100%;
    }
    .car_name_Detail {
        margin-top: 20px;
    }
    .getenquiry {
        font-size: 16px;
    }
    .Enquiryhere .form-control {
        font-size: 14px;
    }

    .about-title {
        font-size: 30px;
        line-height: 30px;
    }
    .indoor-title {
        font-size: 18px;
        width: 100%;
    }
    .How_operate {
        margin: 15px 0;
    }
    .OUR_MISSION, .OUR_MISSION-2 {
        font-size: 30px;
        padding: 2px 0 15px;
    }
    .indoor_description, .indoor_description-2 {
        font-size: 16px;
        line-height: 25px;
        padding-left: 10px;
    }
    .indoor_description-1 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .FIND_MORE {
        margin-bottom: 20px;
    }
    .Readyget, .Readyget-1, .CLEVELANDCARS, .CLEVELANDcar-title {
        font-size: 24px;
    }
    .Iconimg {
        margin-bottom: 40px;
    }
    .CLEVELANDcar-desc{
        font-size: 14px;
    }
    .POSSIBILITIESrow {
        margin-bottom: 40px;
        min-height: 160px;
        text-align: center;
    }
    .OPTIONTOCHOOSEdes {
        padding-left: 15px;
        margin: 20px 0 0;
    }
    .OPTIONTOCHOOSE-desc {
        font-size: 13px;
        line-height: 22px;
    }
    .imgOptiontochoose, .UnlimitedPossibilities {
        float: none;
        margin: 15px auto;
    }
    .vision-image {
        float: left;
        width: 100%;
    }
    .vision-desc {
        float: left;
        width: 100%;
        margin: 10px 0 0;
    }
    .vision-image img {
        margin: 0 auto;
    }
    .getInrouchform h2 {
        font-size: 36px;
    }
    .getInrouchform p {
        font-size: 15px;
    }
    .getInrouchform label {
        font-size: 20px;
        padding-left: 5px;
    }
    .getsocial-para {
        font-size: 17px;
        width: 90%;
    }
    .getsocial-heading {
        font-size: 42px;
    }
    .credite-title {
        font-size: 32px;
        line-height: 40px;
    }
    .crediteapp-wrap p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 15px;
    }

}
@media only screen and (max-width:1024px){
    .container-fluid .header-top .container, .browse-cars-wrap .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .page_content {
        padding: 0 15px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inventridetailpage {
        padding: 38px 15px 35px !important;
    }
    .Submitbtn {
        width: 100%;
    }
    .INVENTORYselect-title {
        font-size: 18px;
    }
    .vehicle-looking-title {
        font-size: 16px;
    }
    .Click_locate {
        cursor: pointer;
        font-size: 23px;
        padding: 10px 25px;
        width: 62%;
    }
    .paginationnav {
        text-align: center;
    }
    .paginationnav .pagination {
        margin: 20px 0;
    }
    .car_name_Enquiry, .car_name_Detail {
        font-size: 18px;
        height: 54px;
        margin: 10px 0;
        padding: 10px 7px;
    }
    .line-1 {
        height: 34px;
    }
    .RELATED-title {
        font-size: 30px;
    }
    .suggestions-title {
        font-size: 18px;
    }
    .contact_form input, .contact_form textarea, .getInrouchform .sendMsgBtn {
        margin-left: 0;
    }
    .personalinfo .caret {
        margin-top: 7px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .product_slider .item{
        height:auto !important;
    }
    .banner1, .banner2, .banner3 {
        min-height: 390px;
    }
    .banner-info {
        margin: 10em auto 0;
        padding: 15px;
        width: 76%;
    }
    .banner-info > h2 {
        color: #fff;
        font-size: 30px;
        line-height: 38px;
    }
    .hvr-bubble-float-top {
        width: auto;
    }
    .header-top {
        padding: 20px 0;
    }
    .nav-wil li a {
        font-size: 11px;
    }
    .link-wrap {
        float: left;
        width: 72%;
    }
    .navbar-nav {
        margin: 17.5px 0 0;
    }
    .browse-cars-wrap h5.heading {
        font-size: 13px;
        margin-top: 0;
        padding: 0;
    }
    .browse-cars-wrap h2.browse-heading {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 30px;
        margin-left: 0;
        padding: 0;
    }
    .browse-cars-wrap .quote {
        background: rgba(0, 0, 0, 0) url("../images/white_quote.png") no-repeat scroll 1px 0 / 44px 29px;
        font-size: 13.5px;
        line-height: 23px;
        padding-left: 50px;
        padding-top: 4px;
    }
    .AUDI-8 {
        padding-left: 10px;
        padding-right: 0;
    }
    .AUDI-8 .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .AUDI-8 .col-lg-12 .col-lg-6 {
        float: left;
        padding: 0 10px 0 0;
        width: 50%;
    }
    .browse-cars-wrap .car-count-wrap {
        background: rgba(0, 0, 0, 0) url("../images/car_name_bg.png") no-repeat scroll 0 0 / 100% 38px;
        margin-bottom: 15px;
    }
    .browse-cars-wrap .car-count-wrap .text-left {
        font-size: 15px;
        padding-left: 15px;
        width: 80%;
    }
    .browse-cars-wrap .car-count-wrap .text-right {
        font-size: 15px;
    }
    .social-icon-wrap {
        margin-top: 17px;
        width: 10%;
    }
    a.callbacks_nav.callbacks1_nav.prev, a.callbacks_nav.callbacks1_nav.prev:hover {
        left: 15px;
    }
    .callbacks_nav.next, .callbacks_nav.next:hover {
        right: 15px;
    }
    .CORE-1, .CORE-2, .CORE-3 {
        float: left;
        padding: 0 10px;
    }
    .about-us-wrap .about-heading {
        font-size: 19px;
        line-height: 28px;
    }
    .about-us-wrap p.heading {
        font-size: 13px;
    }
    .about-us-wrap .quote {
        background: rgba(0, 0, 0, 0) url("../images/gray_quote.png") no-repeat scroll left top / 44px 29px;
        font-size: 13px;
        line-height: 20px;
        padding-left: 55px;
        padding-top: 10px;
    }
    .about-us-wrap {
        float: left;
        padding: 60px 0;
        width: 100%;
    }
    .about-us-wrap .schedule-wrap {
        margin: 2px 0 22px;
    }
    .about-us-wrap .schedule-link {
        float: left;
        font-size: 13px;
        margin-left: 0;
        padding: 10px 0;
        width: 100%;
    }
    .about-us-wrap .call-us-text {
        float: left;
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
        width: 100%;
    }
    .about-us-wrap .call-us-text p.num {
        font-size: 30px;
    }
    .about-us-wrap .read-more {
        font-size: 16px;
        margin-left: 55px;
        padding: 8px 26px;
    }
    .post-detail-wrap .heading-small {
        font-size: 14px;
    }
    .post-detail-wrap h4.heading-big {
        font-size: 17px;
    }
    .post-detail-wrap .post-details {
        font-size: 13px;
        line-height: 22px;
    }
    .contentcall{
        width: 80%;
        margin-top: 23%;
    }
    .INVENTORY-title {
        font-size: 24px;
        padding: 15px 0;
        text-align: center;
    }
    .trucks-title {
        font-size: 16px;
    }
    .filter-title {
        font-size: 22px;
        padding: 15px 0;
    }
    .customserch .btn {
        background-position: 94% 52%;
        background-size: 16px auto;
        font-size: 13px;
        padding: 6px 10px;
    }
    .car-content {
        padding: 20px 10px 25px;
    }
    .p_car_title {
        font-size: 19px;
        line-height: 33px;
    }
    .car_product {
        margin: 30px auto;
        width: 100%;
    }
    /*    .paginationnav {
            text-align: center;
        }
        .paginationnav .pagination {
            margin: 10px 0px 10px 0;
        }*/
    .paginationnav .pagination li a {
        font-size: 18px;
        height: 35px;
        padding: 2px;
        width: 35px;
    }
    .carintprice {
        font-size: 18px;
    }
    .Next, .Last {
        width: 70px !important;
    }
    .help-text{
        padding-left: 0px;
    }
    .contact-info{
        padding-left: 0px;
        font-size: 24px;
    }
    .contact-info-wrap h5{
        font-size: 14px;
    }
    .contact-info-wrap img{
        margin-left: 5px;
    }
    .padding-left {
        font-size: 13px;
        line-height: 21px;
        padding-left: 34px;
        margin-top: 10px;
    }
    .Carthree .padding-left {
        padding-left: 15px;
    }
    .Carfour .padding-left {
        padding-left: 35px;
    }
    .help-text{
        font-size: 15px;
    }
    .section.section-one{
        padding-left: 15px;
        width: 30%;
    }
    .section.section-two {
        padding-left: 15px;
        width: 30%;
    }
    .section.section-three {
        padding-left: 15px;
        width: 38%;
        padding-right: 10px;
    }
    .browse-cars-wrap {
        background: url("../images/car_bg.png") no-repeat scroll 0 300px / 440px 310px, rgba(0, 0, 0, 0) url("../images/gray_bg.png") no-repeat scroll left top / 100% 100%;
        float: left;
        height: 610px;
        padding: 50px 0;
        width: 100%;
    }
    .our-usp-choose-wrap .about-heading {
        float: right;
        margin-bottom: 30px;
        width: 100%;
    }
    .our-usp-choose-wrap .OUR_USPs img {
        float: none !important;
        margin: 0 auto;
    }
    .right-info {
        text-align: left;
    }
    .usp-wrap{
        margin: 40px auto;
        clear: both;
    }
    .our-usp-choose-wrap .img_div{
        text-align: center;
        width: 40%;
        margin: 0 auto;
    }
    .our-usp-choose-wrap {
        padding: 50px 0;
    }
    .OUR_USPs {
        padding-right: 46px;
        text-align: center;
    }
    .testimonial-wrap .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 96%;
    }
    .testimonial-wrap .col-lg-4 {
        float: left;
        width: 40%;
    }
    .testimonial-wrap .col-lg-8 {
        float: left;
        width: 60%;
    }
    .testimonial-wrap {
        height: auto;
        padding: 50px 0;
    }
    .testimonial-wrap h5.heading {
        font-size: 13px;
    }
    .testimonial-wrap h2.browse-heading {
        font-size: 22px;
        line-height: 36px;
    }
    .testimonial-wrap .quote {
        font-size: 14px;
        line-height: 23.2px;
        padding-left: 54px;
        padding-top: 5px;
    }
    .carousel-inner {
        height: 345px;
    }
    .item {
        height: 100%;
        width: 100%;
    }
    .carousel-inner .item .slide {
        height: 100%;
        width: 100%;
    }
    .homebox-left,  .homebox-right {
        padding: 20px;
        width: 48%;
    }
    .home-box-wrap h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .home-box-wrap h4 {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .home-box-wrap p {
        font-size: 13px;
        height: 160px;
        line-height: 23px;
        margin-left: 0;
        min-height: 160px;
        width: 100%;
    }
    .home-box-wrap .schedule-link {
        font-size: 16px;
        margin-left: 0;
        padding: 10px 20px;
    }
    .footer-link-wrapper {
        padding: 50px 0;
    }
    .footer-link-wrapper h5 {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .section.section-one a {
        font-size: 14px;
    }
    .section.section-two p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .section-three .l-padding {
        padding-left: 0;
    }
    .section-three p.title {
        font-size: 13px;
    }
    .section-three p.price {
        font-size: 16px;
    }
    .section-three p.view a {
        font-size: 12px;
    }
    .copy_right {
        padding: 20px 30px;
    }
    .copy_right p a {
        font-size: 13px;
    }
    .product_slider {
        float: left;
        margin-bottom: 31px;
        width: 100%;
    }
    .car_name_Detail {
        margin-top: 20px;
    }
    .getenquiry {
        font-size: 16px;
    }
    .Enquiryhere .form-control {
        font-size: 14px;
    }

    .about-title {
        font-size: 30px;
        line-height: 30px;
    }
    .indoor-title {
        font-size: 18px;
        width: 100%;
    }
    .How_operate {
        margin: 15px 0;
    }
    .OUR_MISSION, .OUR_MISSION-2 {
        font-size: 30px;
        padding: 2px 0 15px;
    }
    .indoor_description, .indoor_description-2 {
        font-size: 16px;
        line-height: 25px;
        padding-left: 10px;
    }
    .indoor_description-1 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .FIND_MORE {
        margin-bottom: 20px;
    }
    .Readyget, .Readyget-1, .CLEVELANDCARS, .CLEVELANDcar-title {
        font-size: 24px;
    }
    .Iconimg {
        margin-bottom: 40px;
    }
    .CLEVELANDcar-desc{
        font-size: 14px;
    }
    .POSSIBILITIESrow {
        margin-bottom: 40px;
        min-height: 160px;
        text-align: center;
    }
    .OPTIONTOCHOOSEdes {
        padding-left: 15px;
        margin: 20px 0 0;
    }
    .OPTIONTOCHOOSE-desc {
        font-size: 13px;
        line-height: 22px;
    }
    .imgOptiontochoose, .UnlimitedPossibilities {
        float: none;
        margin: 15px auto;
    }
    .vision-image {
        float: left;
        width: 100%;
    }
    .vision-desc {
        float: left;
        width: 100%;
        margin: 10px 0 0;
    }
    .vision-image img {
        margin: 0 auto;
    }
    .getInrouchform h2 {
        font-size: 36px;
    }
    .getInrouchform p {
        font-size: 15px;
    }
    .getInrouchform label {
        font-size: 20px;
        padding-left: 5px;
    }
    .getsocial-para {
        font-size: 17px;
        width: 90%;
    }
    .getsocial-heading {
        font-size: 42px;
    }
    .credite-title {
        font-size: 32px;
        line-height: 40px;
    }
    .crediteapp-wrap p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 15px;
    }

}

@media only screen and (max-width:900px){

}
@media only screen and (max-width:800px){

}
@media only screen and (max-width:767px){
    .AUDI-8 {
        padding-left: 0;
        padding-right: 0;
    }
    .getInrouchform h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .CORE-1, .CORE-2, .CORE-3 {
        float: left;
        padding: 0 100px;
        text-align: center;
        width: 100%;
    }
    .AUDI-8 .col-lg-12 {
        padding-right: 15px;
    }
    .AUDI-8 .col-lg-12 .col-lg-6 {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
    .header-top {
        padding: 15px 0;
    }
    .logo.grid img {
        width: 35%;
    }
    .banner-info {
        margin: 11em auto 0;
        padding: 10px 12px;
        width: 86%;
    }
    .banner-info > h2 {
        font-size: 30px;
        line-height: 37px;
    }
    .banner1, .banner2, .banner3 {
        min-height: 389px;
    }
    .OUR_USPs {
        padding-right: 15px;
    }
    /*    .banner1, .banner2, .banner3 {
            min-height: 264px;
        }*/
    .CORE-1, .CORE-2, .CORE-3 {
        width: 100%;
    }
    .bubble-effect {
        margin-top: 15px;
    }
    .hvr-bubble-float-top {
        margin-bottom: 13px;
        width:auto;
    }
    .navbar-collapse {
        background: #000 none repeat scroll 0 0;
        opacity: 0.9;
    }
    .callbacks_nav {
        height: 46px;
        top: 63%;
        width: 26px;
    } a.callbacks_nav.callbacks1_nav.prev {
        background-size: 26px 46px;
        left: 5px;
    }
    a.callbacks_nav.callbacks1_nav.prev:hover {
        background-size: 26px 46px;
        left: 5px;
    }
    a.callbacks_nav.callbacks1_nav.next {
        background-size: 26px 46px;
        right: 5px;
    }
    a.callbacks_nav.callbacks1_nav.next:hover {
        background-size: 26px 46px;
        right: 5px;
    }
    .navbar-nav {
        float: left;
        margin-left: 0;
        margin-top: 0 !important;
        width: 100%;
    }
    .link-wrap {
        float: left;
        width: 100%;
    }
    .header_right {
        float: left;
        margin-bottom: 10px;
        width: 100%;
    }
    .social-icon-wrap {
        margin-top: 10px;
    }
    .social-icon-wrap ul {
        float: left;
        text-align: center;
        width: 100%;
    }
    .fb_icons li {
        display: inline-block !important;
        margin: 0 10px !important;
    }
    .about-us-wrap {
        padding: 40px 0;
    }
    .text-right{
        text-align: center;
    }
    .about-us-wrap .about-heading {
        font-size: 24px;
        line-height: 34px;
    }
    .about-us-wrap .quote {
        background-size: 44px 29px;
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 20px;
        padding-left: 55px;
        padding-top: 5px;
        text-align: left;
    }
    .browse-cars-wrap .quote, .testimonial-wrap .quote {
        background: rgba(0, 0, 0, 0) url("../images/white_quote.png") no-repeat scroll 5px 0 / 44px 29px;
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 20px;
        padding-left: 58px;
        padding-top: 5px;
        text-align: left;
    }
    .about-us-wrap .read-more {
        float: none;
        font-size: 16px;
        margin-left: 0;
    }
    .about-us-wrap .schedule-link {
        font-size: 16px;
        padding: 13px 15px;
    }
    .about-us-wrap .schedule-wrap {
        margin: 44px 0 30px 0;
    }
    .about-us-wrap .call-us-text {
        font-size: 24px;
        line-height: 34px;
    }
    .about-us-wrap .call-us-text p.num {
        font-size: 34px;
    }
    .post-detail-wrap .col-xs-12 {
        margin-bottom: 15px;
    }
    .browse-cars-wrap {
        background: none, rgba(0, 0, 0, 0) url("../images/gray_bg.png") no-repeat scroll left top / 100% 100%;
        height: auto;
        padding: 50px 0;
    }
    .browse-cars-wrap h2.browse-heading {
        font-size: 23px;
    }
    .browse-cars-wrap .car-count-wrap {
        margin-bottom: 15px;
    }
    .browse-cars-wrap .car-count-wrap .text-left, .browse-cars-wrap .car-count-wrap .text-right {
        font-size: 15px;
    }
    .our-usp-choose-wrap {
        padding: 50px 0;
    }
    .our-usp-choose-wrap .pull-right {
        float: none !important;
        margin: 30px auto;
    }
    .usp-wrap .usp-detail {
        padding: 15px;
    }
    .testimonial-wrap {
        height: auto;
        padding: 50px 0;
    }
    .testimonial-wrap h2.browse-heading {
        font-size: 23px;
        line-height: 34px;
    }
    .slide:last-child {
        margin-left: 0;
    }
    .carousel-inner .item .slide {
        height: 235px;
        padding: 15px;
        width: 100%;
    }
    .testimonial-wrap .carousel-inner .quote {
        background: rgba(0, 0, 0, 0) url("../images/orange_quote.png") no-repeat scroll 0 0 / 50px 35px;
        font-size: 15px;
        line-height: 24.2px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 60px;
        padding-top: 8px;
    }
    .testimonial-wrap .person-text.rel {
        bottom: 13px;
    }
    .testimonial-wrap .person-text.rel h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .carousel-control.right {
        right: -7px;
    }
    .carousel-control.right {
        background: url("../images/testi_next.png") no-repeat scroll 0 0 / 14px 62px;
        width: 14px;
        height: 62px;
    }
    .carousel-control.left {
        left: -7px;
    }
    .carousel-control.left {
        background: url("../images/testi_prev.png") no-repeat scroll 0 0 / 14px 62px;
        width: 14px;
        height: 62px;
    }
    .usp-detail .right-info p {
        font-size: 13px;
        height: 77px;
        max-height: 77px;
    }
    .home-box-wrap {
        padding: 50px 0;
    }
    .home-box-wrap h2 {
        font-size: 23px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .home-box-wrap h4 {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 13px;
    }
    .home-box-wrap p {
        font-size: 13px;
        height: 175px;
        line-height: 20px;
        margin-bottom: 25px;
        min-height: 175px;
        width: 100%;
    }
    .home-box-wrap .schedule-wrap {
        float: left;
        margin: 15px 0;
    }
    .home-box-wrap .schedule-link {
        float: none;
        font-size: 16px;
        padding: 12px 15px;
        width: auto;
    }
    .contact-info-wrap .col-xs-6 {
        margin-bottom: 15px;
        width: 100%;
    }
    .help-text, .contact-info {
        padding-left: 0;
        text-align: center;
    }
    .contact-info-wrap h5 {
        font-size: 18px;
    }
    .contact-info-wrap p {
        font-size: 15px;
    }
    .contact-info-wrap p.contact-info {
        font-size: 30px;
    }
    .footer-link-wrapper {
        padding: 50px 15px 20px;
    }
    .footer-link-wrapper .section {
        float: left !important;
        margin-bottom: 15px;
        padding: 0 !important;
        width: 100% !important;
    }
    .section-three .b-margin {
        margin-bottom: 30px;
    }
    .footer-link-wrapper h5 {
        font-size: 18px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .section.section-two p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .section-three .l-padding {
        padding-left: 0;
    }
    .section-three p.title {
        font-size: 14px;
    }
    .section-three p.price {
        font-size: 16px;
    }
    .section-three p.view a {
        font-size: 13px;
    }
    .copy_right {
        float: left;
        padding: 15px;
    }
    .copy_right p, .copy_right p a {
        font-size: 13px;
        line-height: 23px;
        text-align: center;
        width: 100%;
    }
    .copy_right .social-icon-wrap {
        float: right;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
        width: auto;
    }
    .section.section-one a {
        font-size: 16px;
    }
    .crediteapp-wrap {
        padding: 30px 15px;
    }
    .credite-title, .getInrouchform h2 {
        font-size: 22px;
        line-height: 34px;
    }
    .crediteapp-wrap p, .getInrouchform p {
        font-size: 15px;
        line-height: 28px;
    }
    .personalinfo {
        margin: 0 -15px;
    }
    .personalinfo .panel-heading {
        font-size: 18px;
    }
    .personalinfo label, .personalinfo .form-control, .getInrouchform label {
        font-size: 14px;
        padding-left: 6px;
    }
    .personalinfo .submitapp {
        font-size: 22px;
        margin: 0;
    }
    .browse-getSocial {
        padding: 50px 0;
        height: auto;
    }
    .getsocial-heading {
        font-size: 36px;
    }
    .getsocial-para {
        font-size: 14px;
        line-height: 28px;
        margin: 25px auto 45px;
        padding: 0 15px;
        width: 100%;
    }
    .social-icon-getsocial .fb_icons li {
        margin: 0 20px !important;
    }
    .social-icon-getsocial .fb_icons li .fa {
        font-size: 36px !important;
    }
    .contact-info-wrap img {
        margin-right: 10px;
        margin-left: 0!important;
    }
    .padding-left {
        padding-left: 47px!important;
    }

    .usp-wrap img, .post-detail-wrap img{
        width: 100%;
    }
    .post-detail-wrap .col-xs-12.text-left {
        padding-left: 10px;
        padding-right: 10px;
        width: 33.333%;
    }
    .footer-link-wrapper .section-three .col-xs-5 {
        width: 24.667%;
    }
    .OUR_USPimg .img_div {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
    }
    .usp-wrap {
        height: 370px;
        max-height: -moz-available;
    }
    .post-detail-wrap h4.heading-big {
        font-size: 18px;
        line-height: 24px;
    }
    .post-detail-wrap .heading-small {
        font-size: 14px;
    }
    .post-detail-wrap .post-details {
        font-size: 13px;
        line-height: 21px;
    }
    .testimonial-wrap .col-lg-4, .testimonial-wrap .col-lg-8 {
        width: 100%;
    }
    .homebox-left, .homebox-right {
        margin: 0;
        padding: 30px 12px;
        width: 49%;
    }
    .text-model {
        font-size: 15px;
    }
    .contentcall {
        margin-top: 32%;
        width: 80%;
    }
    .INVENTORY-title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }
    .trucks-title {
        font-size: 16px;
    }
    .filter-title {
        font-size: 25px;
    }
    .customserch {
        margin-right: 2%;
        margin-top: 15px;
        width: 48%;
    }
    .customserch .btn {
        font-size: 18px;
    }
    .car_product {
        margin: 40px auto;
        width: 60%;
    }
    .paginationnav .pagination li a {
        font-size: 21px;
        height: 40px;
        width: 40px;
    }
    #sync1 .item, #sync2 .item {
        height: auto !important;
    }
    .bigthmbimg {
        height: 100%;
        width: 100%;
    }
    .car_name_Kia {
        font-size: 26px;
    }
    .car_name_right {
        font-size: 18px;
    }
    .getenquiry, .Enquiryhere .form-control{
        font-size: 15px;
    }
    .Click_locate {
        font-size: 22px;
        padding: 10px 25px;
        width: 70%;
    }

    .about-title {
        font-size: 26px;
        line-height: 30px;
    }
    .indoor-title {
        font-size: 16px;
        width: 100%;
    }
    .How_operate {
        margin: 15px 0;
    }
    .OUR_MISSION, .OUR_MISSION-2 {
        font-size: 26px;
        padding: 2px 0 15px;
    }
    .indoor_description, .indoor_description-2 {
        font-size: 15px;
        line-height: 25px;
        padding-left: 10px;
    }
    .indoor_description-1 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .FIND_MORE {
        margin-bottom: 20px;
    }
    .Readyget, .Readyget-1, .CLEVELANDCARS, .CLEVELANDcar-title {
        font-size: 20px;
    }
    .Iconimg {
        margin-bottom: 30px;
    }
    .CLEVELANDcar-desc{
        font-size: 13px;
    }
    .POSSIBILITIESrow {
        margin-bottom: 40px;
        min-height: 160px;
        text-align: center;
    }
    .OPTIONTOCHOOSEdes {
        padding-left: 15px;
        margin: 20px 0 0;
    }
    .OPTIONTOCHOOSE-desc {
        font-size: 13px;
        line-height: 22px;
    }
    .imgOptiontochoose, .UnlimitedPossibilities {
        float: none;
        margin: 15px auto;
    }

}
@media only screen and (max-width:667px){
    .banner-bg1 {
        background: rgba(0, 0, 0, 0) url("../images/banner-bg1-ls.png") no-repeat center center;
        background-size: cover;
        min-height: 350px;
    }
    .banner-bg2 {
        background: rgba(0, 0, 0, 0) url("../images/banner-bg2-ls.png") no-repeat center center;
        background-size: cover;
        min-height: 350px;
    }
}
@media only screen and (max-width:640px){
    .banner1, .banner2, .banner3 {
        min-height: 324px;
    }
    .Next, .Last {
        width: 59px !important;
    }
    .CORE-1, .CORE-2, .CORE-3 {
        float: left;
        padding: 0 15px;
        text-align: center;
        width: 100%;
    }
    .copy_right .social-icon-wrap {
        float: left;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }
    .contact-info-wrap .col-xs-6 {
        margin-bottom: 15px;
        width: 100%;
    }
    .home-box-wrap h2 {
        font-size: 22px;
        line-height: 37px;
        margin-bottom: 15px;
    }
    .home-box-wrap h4 {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .home-box-wrap p {
        font-size: 14px;
        height: auto;
        line-height: 26px;
        margin-bottom: 15px;
        min-height: auto;
        width: 100%;
    }
    .homebox-left, .homebox-right {
        margin: 10px 0;
        padding: 30px 15px;
        width: 100%;
    }
    .OUR_USPimg .img_div {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .usp-wrap {
        height: auto;
        max-height: -moz-available;
    }
    .banner-info {
        margin: 10em auto 0;
        padding: 10px 12px;
        width: 86%;
    }
    .banner-info > h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .browse-cars-wrap .quote, .testimonial-wrap .quote {
        font-size: 16px;
    }
    .AUDI-8 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .AUDI-8 .col-lg-12 {
        padding-right: 15px;
    }
    .AUDI-8 .col-lg-12 .col-lg-6 {
        float: left;
        padding: 0 15px;
        width: 100%;
    }
    .callbacks_nav {
        height: 46px;
        top: 63%;
        width: 26px;
    }
    .footer-link-wrapper .section-three .col-xs-5 {
        width: 23%;
    }
    .logo.grid img {
        width: 40%;
    }
    .post-detail-wrap .col-xs-12.text-left {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .post-detail-wrap .heading-small {
        font-size: 16px;
    }
    .post-detail-wrap h4.heading-big {
        font-size: 20px;
    }
    .post-detail-wrap .post-details {
        font-size: 15px;
        line-height: 24px;
    }
    .browse-cars-wrap .quote, .testimonial-wrap .quote {
        font-size: 14px;
    }
    .carousel-inner .item .slide {
        height: 333px;
        padding: 15px;
        width: 100%;
    }
    .contentcall {
        margin-top: 35%;
        width: 100%;
    }
    .INVENTORY-title {
        font-size: 20px;
        text-align: center;
    }
    .trucks-title {
        font-size: 14px;
    }
    .customserch {
        margin-right: 2%;
        margin-top: 15px;
        width: 48%;
    }
    .customserch .btn {
        background-size: 15px auto;
        font-size: 15px;
        padding: 6px 15px;
    }
    .car_product {
        margin: 30px auto;
        width: 70%;
    }
    .credite-title {
        font-size: 21px;
        line-height: 34px;
    }
    .getInrouchform h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .crediteapp-wrap p {
        font-size: 14px;
        line-height: 28px;
    }
    .getInrouchform p {
        font-size: 15px;
        line-height: 24px;
    }
    /*    .about-title {
            font-size: 22px;
            line-height: 30px;
        }
        .indoor-title {
            font-size: 15px;
            width: 100%;
        }
        .How_operate {
            margin: 15px 0;
        }
        .OUR_MISSION, .OUR_MISSION-2 {
            font-size: 26px;
            padding: 2px 0 15px;
        }
        .indoor_description, .indoor_description-2 {
            font-size: 15px;
            line-height: 25px;
            padding-left: 10px;
        }
        .indoor_description-1 {
            font-size: 13px;
            margin-bottom: 15px;
        }
        .FIND_MORE {
            margin-bottom: 20px;
        }
        .Readyget, .Readyget-1, .CLEVELANDCARS, .CLEVELANDcar-title {
            font-size: 20px;
        }
        .Iconimg {
            margin-bottom: 30px;
        }
        .CLEVELANDcar-desc{
            font-size: 13px;
        }
        .POSSIBILITIESrow {
            margin-bottom: 40px;
            min-height: 160px;
            text-align: center;
        }
        .OPTIONTOCHOOSEdes {
            padding-left: 15px;
            margin: 20px 0 0;
        }
        .OPTIONTOCHOOSE-desc {
            font-size: 13px;
            line-height: 22px;
        }
        .imgOptiontochoose, .UnlimitedPossibilities {
            float: none;
            margin: 0 auto;
        }*/
}

@media only screen and (max-width:566px){
    .Vehicle_td1, .Vehicle_td2 {
        font-size: 13px;
    }
    .ardescription {
        font-size: 13px;
        line-height: 24px;
    }
}

@media only screen and (max-width:480px){
    .banner-info {
        margin: 8em auto 0;
        padding: 10px 12px;
        width: 86%;
    }
    .car_product {
        margin: 30px auto;
        width: 100%;
    }
    .customserch {
        margin-right: 0;
        width: 100%;
    }
    .customserch .btn {
        background-size: auto auto;
        font-size: 14px;
        padding: 6px 20px;
    }
    .logo.grid img {
        width: 45%;
    }
    .AUDI-8 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .callbacks_nav {
        height: 46px;
        top: 60%;
        width: 26px;
    }
    .banner-info > h2 {
        font-size: 19px;
        line-height: 30px;
    }
    .INVENTORY-title {
        font-size: 21px;
        line-height: 30px;
        text-align: center;
    }
    .trucks-title {
        font-size: 14px;
    }
    .customserch .btn {
        font-size: 18px;
    }
    .text-model {
        font-size: 14px;
    }
    .paginationnav .pagination li a {
        font-size: 14px;
        height: 28px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 3px;
        width: 28px;
    }
    .contentcall {
        margin-top: 45%;
        width: 100%;
    }
    .car_name_Kia {
        font-size: 18px;
        height: auto;
        padding: 10px;
    }
    .car_name_right {
        font-size: 15px;
        height: auto;
        padding: 10px;
        text-align: right;
    }
    .getenquiry,.Enquiryhere .form-control {
        font-size: 14px;
    }
    .Submitbtn {
        font-size: 18px;
    }
    .locateVehicle {
        background: #373737 none repeat scroll 0 0;
        padding: 30px 15px;
        margin-top: 50px;
    }
    .vehicle-looking-title {
        font-size: 20px;
    }
    .INVENTORYselect-title {
        font-size: 16px;
        line-height: 24px;
    }
    .Click_locate {
        font-size: 17px;
        width: 100%;
    }
    .RELATED-title {
        font-size: 24px;
    }
    .suggestions-title {
        font-size: 16px;
    }
    .p_car_title {
        font-size: 17px;
    }
    .getInrouchform h2 {
        font-size: 22px;
        line-height: 34px;
    }
    .getInrouchform p {
        font-size: 13px;
        line-height: 22px;
    }
    /*    .about-title {
            font-size: 20px;
            line-height: 30px;
        }
        .indoor-title {
            font-size: 14px;
            width: 100%;
        }*/
}

@media only screen and (max-width:380px){
    .callbacks_nav {
        height: 46px;
        top: 61%;
        width: 26px;
    }
    .logo.grid img {
        width: 50%;
    }
    .AUDI-8 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .OUR_USPs {
        padding-right: 15px;
    }
    .banner-info {
        padding: 10px 12px;
        width: 86%;
        margin: 7.3em auto 0;
    }
    .testimonial-wrap .carousel-inner .quote {
        background: rgba(0, 0, 0, 0) url("../images/orange_quote.png") no-repeat scroll 0px 0 / 40px 25px;
        font-size: 13px;
        line-height: 22.2px;
        margin-bottom: 10px;
        padding-left: 48px;
        padding-top: 0px;
        margin-top: 0;
    }
    .home-box-wrap .schedule-wrap {
        float: left;
        margin: 0;
        width: 100%;
    }
    .home-box-wrap .schedule-link {
        font-size: 16px;
        padding: 12px 15px;
        width: 100%;
        float: left;
    }
    .footer-link-wrapper .section-three .col-xs-5 {
        width: 41.6667%;
    }
    .personalinfo .add-co-app {
        font-size: 14px;
        width: 100%;
    }

}
@media only screen and (max-width:360px){
    .banner-bg1 {
        background: rgba(0, 0, 0, 0) url("../images/banner-bg3-po.png") no-repeat center center;
        background-size: cover;
        min-height: 350px;
    }
    .banner-bg2 {
        background: rgba(0, 0, 0, 0) url("../images/banner-bg2-po.png") no-repeat center center;
        background-size: cover;
        min-height: 350px;
    }
}
@media only screen and (max-width:320px){
    .banner-info > h2 {
        font-size: 16px;
        line-height: 23px;
    }

}
@media screen and (min-width:770px) and (min-width:1300px){
    .container-fluid .header-top .container, .browse-cars-wrap .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .page_content {
        padding: 0 15px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inventridetailpage {
        padding: 38px 15px 35px !important;
    }
    .Submitbtn {
        width: 100%;
    }
    .INVENTORYselect-title {
        font-size: 18px;
    }
    .vehicle-looking-title {
        font-size: 16px;
    }
    .Click_locate {
        cursor: pointer;
        font-size: 23px;
        padding: 10px 25px;
        width: 62%;
    }
    .paginationnav {
        text-align: center;
    }
    .paginationnav .pagination {
        margin: 20px 0;
    }
    .car_name_Enquiry, .car_name_Detail {
        font-size: 18px;
        height: 54px;
        margin: 10px 0;
        padding: 10px 7px;
    }
    .line-1 {
        height: 34px;
    }
    .RELATED-title {
        font-size: 30px;
    }
    .suggestions-title {
        font-size: 18px;
    }
    .contact_form input, .contact_form textarea, .getInrouchform .sendMsgBtn {
        margin-left: 0;
    }
    .personalinfo .caret {
        margin-top: 7px;
    }
}
